
.hero-img {
  display: block;
}

.hero-title {
  font-family: 'Unbounded', sans-serif;
  font-weight: 700;
  font-size: 4vw;
}

.hero-subtitle {
  font-family: 'Heebo', sans-serif;
  font-size: 2vw;
}

.hero-button {
  font-family: 'Unbounded', sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  padding: 0.8rem 2rem;
}



.banner-section {
  margin-top: -5px;
  padding: 0;
}

.banner-img {
  height: 450px;
  object-fit: cover;
  display: block;
}



.estilo-section {
  margin: 100px 0;
}

.estilo-card {
  position: relative;
  width: 300px;
  height: 400px;
}

.estilo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.estilo-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.4);
  color: white;
  text-align: left;
  padding: 20px;
}

.estilo-line {
  width: 40px;
  height: 2px;
  background: white;
  margin-top: 5px;
}



.divider {
  display: flex;
  align-items: center;
  gap: 10px;
}

.divider-line {
  flex-grow: 1;
  height: 2px;
  background: #3c0c0c;
}

.item {
  position: relative;
}

.item img.producto {
  width: 100%;
  display: block;
}

.new-icon {
  position: absolute;
  top: 5px;
  left: 5px;
}

.plus-icon {
  position: absolute;
  top: -7px;
  right: 5px;
}


.coleccion-img {
  width: 328px;
  height: 483px;
  object-fit: cover;
  border-radius: 8px;
}


.footer-section .footer-text {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
}
